<footer class="text-center bg-dark text-muted">
 
  <div class="text-center text-light p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/ctzitzas">Chris Tzitzas</a>
  </div>

</footer>