// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hero-container {
  border: 1px solid black;
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.hero {
  height: 100px;
  width: 80%;
  border: 1px solid red;
}

